/* Container für den Lernmodus */
.learning-mode-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  font-family: 'Roboto', sans-serif; /* Konsistente Schriftart */
}

/* Timer */
.timer {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #6c1d5f;
}

/* Fragebox */
.question-box {
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

.question-text {
  white-space: pre-line; /* Zeilenumbrüche aus dem Text erhalten */
}

.question-text img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.question-text table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

.question-text table td,
.question-text table th {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
}

.question-text table th {
  background-color: #f4f4f4;
  font-weight: bold;
}


/* Antwortoptionen */
.options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.option-button {
  background-color: #6c1d5f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 1rem; /* Konsistente Button-Schriftgröße */
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.option-button:hover {
  background-color: #5a124e;
}

.option-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Feedback */
.feedback-container {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
}

.feedback.correct {
  color: green;
}

.feedback.incorrect {
  color: red;
}

/* Nächste-Frage-Button */
.next-question-button {
  background-color: #6c1d5f;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.next-question-button:hover {
  background-color: #5a124e;
}


/* Responsives Design */
@media (max-width: 768px) {
  .question-box {
    padding: 15px;
  }

  .question-text {
    font-size: 1rem; /* Schriftgröße für kleinere Geräte */
  }

  .option-button {
    font-size: 0.9rem;
  }

  .next-question-button {
    font-size: 0.9rem;
  }

  .alert-dialog {
    max-width: 90%;
    padding: 15px;
  }
}
