/* Header-Stil */
.header {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: 'Roboto', sans-serif;
  padding: 15px 0;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container.large-header .title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #6C1D5F;
}

.header-container.small-header .title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #6C1D5F;
}

.navigation {
  margin-top: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.navigation ul li a {
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #6C1D5F;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navigation ul li a:hover {
  background-color: #6C1D5F;
  color: white;
}

/* Auth-Button */
.auth-button {
  margin-top: 10px;
}

.button-auth {
  padding: 8px 12px;
  font-size: 1rem;
  font-weight: 500;
  background-color: #6C1D5F;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.button-auth:hover {
  background-color: #5A124E;
  transform: scale(1.05);
}

/* Responsives Design */
@media (max-width: 768px) {
  .navigation ul {
    flex-direction: column;
    gap: 10px;
  }

  .header-container.large-header .title {
    font-size: 2rem;
  }

  .header-container.small-header .title {
    font-size: 1.2rem;
  }
}
